@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1E0338;
}

.button-style {
    background-image: linear-gradient(180deg, #FD749B, #281AC8);
}

.button-style:hover {
    background-image: linear-gradient(90deg, #FD749B, #281AC8);
}

.active {
    background-image: linear-gradient(180deg, #FD749B, #281AC8);
}

.ant-btn {
    background-image: linear-gradient(180deg, #FD749B, #281AC8);
    color: white;
    font-weight: 600;
}

.ant-btn:hover {
    background-image: linear-gradient(180deg, #FD749B, #281AC8) !important;
    color: white !important;
}
.search-input{
    background-image: url('./assets/images/SearchIcon.svg');
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 27px center;
}